/.idea/
/binary_search_imdb/names.txt
/binary_search_imdb/sorted_names.txt
/my_pokemon_stats/credentials.json
/my_pokemon_stats/debug.log
/my_pokemon_stats/index.html
/my_pokemon_stats/my_pokemon_stats.csv
/team_gcp_status/debug.log
/team_gcp_status/index.html
/team_gcp_status/credentials.json
